.preloader {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #f0f0f0;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
