.input {
  border-radius: 6px;
  border: 2px solid rgba(116, 105, 243, 1);
  width: 364px;
  height: 50px;
  padding-left: 21px;
  font-size: 18px;
  margin-bottom: 25px;
  position: relative;
}

input::placeholder {
  color: rgba(186, 186, 186, 1);
  font-size: 18px;
  font-weight: 400;
}

.wrapper-input {
  position: relative;
}

.label {
  position: absolute;
  left: 21px;
  top: 4px;
  z-index: 10;
  font-size: 11px;
  color: rgba(186, 186, 186, 1);
}

@media (max-width: 522px) {
  .input {
    border-radius: 6px;
    border: 2px solid rgba(116, 105, 243, 1);
    width: 220px;
    height: 50px;
    padding-left: 21px;
    font-size: 18px;
    margin-bottom: 25px;
    position: relative;
  }
}
